body {
  padding-top: 60px;
  font-weight: 600;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
h1 {font-size: 7em;
  font-family: 'Tangerine', Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
}

img {padding: 10px 10px 0px 0px;
}

#Navbar a {color: #FFFFFF;
}
#navbar-collapse-1 > ul > li> ul > li> a:hover{
  color: #212121;
}

#navbar-collapse-1 > li:hover {color: #212121;
}
.fixed-top{
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  z-index: 2000;
}

.right-sidebar {margin-top:8.8em;}

.navbar.dark-primary-color, .dark-primary-color    { background: #AFB42B; }
.default-primary-color { background: #CDDC39; }
.light-primary-color   { background: #F0F4C3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
